name: Template Java (Maven + Sonar + Docker)

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        default: '21'
        type: string
      sonar-project-key:
        required: true
        type: string
      sonar-organization:
        required: false
        default: 'mancinidsb'
        type: string
      docker-image-name:
        required: true
        type: string
      # 1. NOVO INPUT PARA CONTROLE
      enable-coveralls:
        required: false
        type: boolean
        default: false 
    secrets:
      SONAR_TOKEN:
        required: true
      # 2. SEGREDO AGORA É OPCIONAL
      COVERALLS_REPO_TOKEN:
        required: false 
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ inputs.java-version }}
          distribution: 'temurin'
          cache: maven

      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      # 3. PASSO 1: Build, Testes e Sonar (Sempre roda)
      # Removido o coveralls daqui
      - name: Build, Test & SonarCloud
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: >
          mvn -B verify 
          org.sonarsource.scanner.maven:sonar-maven-plugin:sonar 
          jacoco:report 
          -Dsonar.projectKey=${{ inputs.sonar-project-key }}
          -Dsonar.organization=${{ inputs.sonar-organization }}
          -Dsonar.host.url=https://sonarcloud.io

      # 4. PASSO 2: Coveralls (Só roda se ativado)
      - name: Upload to Coveralls
        if: inputs.enable-coveralls == true
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        run: >
          mvn coveralls:report 
          -DrepoToken=$COVERALLS_REPO_TOKEN 
          -Dbranch="$BRANCH_NAME"

      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ inputs.docker-image-name }}:latest